:root {
    --primary:#25D366;
}

.btn1 {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn1:hover {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    background:#25D366;
    color: #6568F4;
    transition: 250ms;
}

.btn1--primary {
    background-color: var(--primary);
}

.btn1--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn1--medium {
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
}

.btn1-large {
    padding: 12px 26px;
    border-radius: 4px;
    font-size: 20px;
    color: #fff;
}