.bgimg2{
  background-image:url('resources/home2.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 500px;
  /*width: 1529px;
  height: 670px;
  margin-top: -9px;*/
}

.hearderset1{
box-sizing: border-box;
 }

.hdh{
font-size: 25px;
font-weight: bold;
color: white;
padding-top: 3.8in;
}

.hdh2{
color: white;
font-size: 50px;
margin-top: -0.7cm;
}